<h1>Hello {% for user in user %}{{user.first_name}}{% endfor %}</h1>

<form class="" action="{% url 'main:addsecret' %}" method="post">
  {% csrf_token %}
  <textarea name="secret" rows="8" cols="80" placeholder = "Your secret here..."></textarea>
  <input type="submit" name="" value="Post">
</form>
<a href="{% url 'main:allsecrets' %}">Most Popular Secrets</a>
<h1>Recent Secrets: </h1>
{% for secret in Secrets %}
  <p>{{secret.secret}} ({{secret.created_at|timesince}} ago) {{secret.likes.count}} likes<a href="{% url 'main:addlike' id=secret.id %}">Like</a></p>
    {% if secret.user.id == request.session.user_id %}
      <p>You posted this <a href="{% url 'main:delete' id=secret.id %}">Delete</a> </p>
    {% endif %}
    {% for user in secret.likes.all %}
      {% if user.id == request.session.user_id %}
        <p>You liked this</p>
      {% endif %}
    {% endfor %}
{% endfor %}

{% if not Secrets %}
  {% for secret in all_secrets %}
    <p>{{secret.secret}} ({{secret.created_at|timesince}} ago) {{secret.likes.count}} likes<a href="{% url 'main:addlike' id=secret.id %}">Like</a></p>
      {% if secret.user.id == request.session.user_id %}
        <p>You posted this <a href="{% url 'main:delete' id=secret.id %}">Delete</a></p>
      {% endif %}
      {% for user in secret.likes.all %}
        {% if user.id == request.session.user_id %}
          <p>You liked this</p>
        {% endif %}
      {% endfor %}
  {% endfor %}
{% endif %}

<form class="" action="{% url 'logreg:logout' %}" method="post">
  {% csrf_token %}
  <input type="submit" name="" value="Logout">
</form>
